html,
body {
	margin: 0;
	padding: 0;
}

* {
	box-sizing: border-box;
}

.chatBox {
	padding: 20px;
	height: 100vh;

	.top {
		position: relative;
		border-bottom: 1px solid lightgray;

		h1 {
			margin: 0;
			padding: 10px 0;
			color: #444444;
			text-align: center;
			font-weight: 100;
		}

		.clear {
			position: absolute;
			top: 20px;
			right: 0;
			cursor: pointer;
			filter: brightness(0);
			opacity: 0;
			pointer-events: none;

			&.active {
				opacity: 0.3;
				pointer-events: auto;
				transition: .5s ease;
			}

			&:hover {
				opacity: 0.6;
				filter: brightness(1);
			}
		}
	}
	
	.response {
		height: calc(100% - 173px);

		//loading動畫
		.loader {
			--color: white;
			--size-mid: 6vmin;
			--size-dot: 1.5vmin;
			--size-bar: 0.4vmin;
			--size-square: 3vmin;
			
			display: block;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 80px;
			height: 80px;
			display: grid;
			place-items: center;
			background: rgba(0,0,0, 0.3);
			border-radius: 10px;
			z-index: 9;
			opacity: 0;
			pointer-events: none;
			transition: .3s ease;
		}
		
		.loader::before,
		.loader::after {
			content: '';
			box-sizing: border-box;
			position: absolute;
		}
		
		.loader.--1::before {
			width: var(--size-mid);
			height: var(--size-mid);
			border: 4px solid var(--color);
			border-top-color: transparent;
			border-radius: 50%;
			animation: loader-1 1s linear infinite;
		}
		
		.loader.--1::after {
			width: calc(var(--size-mid) - 2px);
			height: calc(var(--size-mid) - 2px);
			border: 2px solid transparent;
			border-top-color: var(--color);
			border-radius: 50%;
			animation: loader-1 0.6s linear reverse infinite;
		}
		
		@keyframes loader-1 {
			100% {
				transform: rotate(1turn);
			}
		}

		&.loading {
			.loader {
				opacity: 1;
			}
		}

		.responseBox {
			position: relative;
			overflow: scroll;
			margin-bottom: 20px;
			padding: 10px;
			width: 100%;
			height: 100%;
			transition: .3s ease;
	
			scrollbar-width: 2px;
			
			&:after {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				border-radius: 10px;
				background: black;
				content: '';
				opacity: 0;
				pointer-events: none;
			}
	
			.message {
				display: table;
				position: relative;
				margin-bottom: 10px;
				padding: 10px 15px;
				max-width: 90%;
				width: auto;
				border-radius: 10px;
				color: #464646;
				text-align: left;
				margin-right: 0;
				margin-left: auto;
	
				&.assistant {
					padding: 0px 15px;
					margin-right: auto;
					margin-left: 0;
					background: #ededed;
				}

				.model {
					position: absolute;
					padding: 1px 10px 3px;
					top: calc(100% - 5px);
					font-size: 10px;
					right: 10px;
					font-weight: 500;
					background: rgb(255, 164, 45);
					border-radius: 100px;
					color: #684822;
				}
			}
	
			.title {
				position: relative;
				padding-left: 20px;
				font-weight: bold;
				color: rgb(39, 39, 39);
	
				&:before {
					content: '';
					position: absolute;
					left: 7px;
					top: 50%;
					height: 5px;
					width: 5px;
					background: rgb(39, 39, 39);
					transform: translate(0%, -50%);
				}
			}

			pre {
				border-radius: 5px;
				overflow: hidden;
			}
			
			table {
				width: 100%;
				background-color: #fff;
				border-collapse: collapse;
				border-radius: 5px;
				overflow: hidden;
			
				th,td {
					font-weight: unset;
					padding-right: 10px;
					padding-top: 18px;
					padding-bottom: 14px
				}
			
				td {
						width: 130px;
						padding-left: 25px;
						font-size: 14px;
						color: gray;
						line-height: 1.4
				}
	
				th {
					font-size: 12px;
					color: #fff;
					line-height: 1.4;
					text-transform: uppercase;
					background-color: #36304a
				}
			
				thead tr th {
					padding-top: 24px;
					padding-bottom: 20px;
					padding-left: 25px;
				}
	
				tr:hover {
					background-color: #f2f2f2
				}
				tr td:hover {
					background-color: #6c7ae0;
					color: #fff
				}
			}
		}
	}
	
	form {
		display: inline-block;
		width: 100%;
		position: relative;
	
		textarea {
			padding: 10px;
			min-height: 70px;
			max-width: 100%;
			min-width: 100%;
			width: 100%;
			outline: none;
			border: 1px solid lightgray;
			border-radius: 10px;
		}
	
		button {
			display: block;
			margin: 10px 0px 0px auto;
			width: 80px;
			outline: 0;
			border: 0;
			border-radius: 10px;
			background-color: orange;
			color: #684822;
			font-size: 14px;
			line-height: 25px;
			cursor: pointer;
		}
		
		.customSelect {
			width: auto;
			min-width: 230px;
			bottom: 0;
			left: 0;
			position: absolute;
			font-family: Arial;
			font-size: 12px;
		
			select {
				display: none;
			}
		
			.select-selected {
				background-color: rgb(255, 164, 45);
				color: #684822 !important;
			}
			
			.select-selected:after {
				position: absolute;
				content: "";
				top: 50%;
				transform: translate(0, calc(-50% - 2px));
				right: 10px;
				width: 0;
				height: 0;
				border: 4px solid transparent;
				border-color: transparent transparent #684822 transparent;
			}
			
			.select-selected.select-arrow-active:after {
				border-color: #684822 transparent transparent transparent;
				transform: translate(0, calc(-50% - 0px));
			}
			
			.select-items div,.select-selected {
				color: #ffffff;
				padding: 6px 25px 6px 16px;
				border-radius: 10px;
				border: 1px solid transparent;
				border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
				cursor: pointer;
			}
			
			.select-items {
				position: absolute;
				background-color: rgb(206, 206, 206);
				bottom: calc(100% + 6px);
				left: 0;
				right: 0;
				z-index: 99;
				border-radius: 10px;
				overflow: hidden;
				
				div {
					border-radius: 0;
				}
			}
			
			.select-hide {
				display: none;
			}
			
			.select-items div:hover, .same-as-selected {
				background-color: rgba(0, 0, 0, 0.1);
			}
		}
	}
}